---
const { title, body, linkColor } = Astro.props;
---

<section class="flex grid-item">
    <h2>{title}</h2>
    <p>{body}</p>
    <a href="#">Learn More</a>
</section>

<style define:vars={{ linkColor }}>
    section {
        text-align: center;
        padding: 1.5rem;
        flex-direction: column;
        gap: 2rem;
        margin-block: 2rem;
    }

    h2 {
        font-size: 2rem;
        color: var(--very-dark-blue);
    }

    p {
        color: var(--dark-gray);
        font-family: var(--ff-1);
        line-height: 1.6;
    }

    a {
        text-transform: uppercase;
        color: var(--very-dark-blue);
        font-weight: 900;
        letter-spacing: 2px;
        position: relative;
        z-index: 1;
    }

    a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: -5px;
        height: 0.7rem;
        width: 10rem;
        border-radius: 5px;
        background-color: var(--linkColor);
        z-index: -1;
    }
    @media (min-width: 800px) {
        section {
            justify-content: center;
            align-items: start;
            text-align: left;
            padding-inline: 1rem;
            margin-block: 0;
        }
    }

    @media (min-width: 1000px) {
        section {
            padding-inline: 4rem;
        }
    }
    @media (min-width: 1200px) {
        section {
            padding-right: 7rem;
            padding-left: 8rem;
        }

        h2 {
            font-size: 3rem;
        }
    }
</style>
