---
const { title, description, imgMobile, imgDesktop } = Astro.props;
---

<section class="grid-item">
    <h2>{title}</h2>
    <p>{description}</p>
</section>

<style
    define:vars={{
        bg: `url("${imgMobile.src}")`,
        bg2: `url("${imgDesktop.src}")`,
    }}
>
    section {
        background-image: var(--bg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 25rem 1rem 3rem 1rem;
        text-align: center;
    }

    h2 {
        margin-bottom: 2rem;
        color: var(--dark-cyan);
    }

    p {
        font-family: var(--ff-1);
        color: var(--dark-cyan);
    }

    @media (min-width: 500px) {
        section {
            background-image: var(--bg2);
            background-position: center;
        }
    }

    @media (min-width: 900px) {
        section {
            padding: 25rem 7rem 3rem 7rem;
        }
    }

    @media (min-width: 1100px) {
        section {
            padding: 25rem 10rem 3rem 10rem;
        }
    }
</style>
