---

---

<section class="grid-item">
    <h2>Graphic design</h2>
    <p>
        Great design makes you memorable. We deliver artwork that underscores
        your brand message and captures potential clients’ attention.
    </p>
</section>

<style>
    section {
        background-image: url('../assets/mobile/image-graphic-design.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25rem 1rem 3rem 1rem;
        text-align: center;
    }

    h2 {
        margin-bottom: 2rem;
        color: var(--dark-cyan);
    }

    p {
        font-family: var(--ff-1);
        color: var(--dark-cyan);
    }
</style>
