---
import imgArrow from '../assets/images/icon-arrow-down.svg';
import { Image } from 'astro:assets';
import Header from './Header.astro';
---

<main>
    <Header />
    <div class="flex">
        <h1>We are creatives</h1>
        <Image src={imgArrow} alt="icon arrow down" />
    </div>
</main>

<style>
    main {
        background-image: url('../assets/mobile/image-header.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        min-height: 65vh;
    }

    .flex {
        flex-direction: column;
        padding-top: 3rem;
        gap: 3rem;
    }
    h1 {
        color: white;
        font-size: 2.8rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    @media (min-width: 800px) {
        main {
            background-image: url('../assets/desktop/image-header.jpg');
            background-size: cover;
            min-height: 100vh;
        }

        h1 {
            font-size: 5rem;
        }
    }

    @media (min-width: 890px) {
        .flex {
            padding-top: 5rem;
            gap: 10rem;
        }
    }
</style>
